.google-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px ;
  background-color: #3D67FF;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.google-login-button__icon {
  font-family: 'Material Icons';  
  font-weight: normal;
  font-style: normal;
  font-size: 12px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  margin-right: 6px;
}